/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.post-card{
    width:48%;
}

.post-button {
    width: 50%;
    margin: 10px auto;
  }

  .post-textarea {
    width: 100%;
  }
  
  .container {
    display: flex;
    justify-content: center;
    flex-direction: center;
  }
  
  .post-card,
  .post-history {
    width: 50%;
  }